@model NintendoStore.Entities.ShippingDetails

@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Confirmed!</h2>

Thanks for placing your order. We'll ship your goods as soon as possible.