
@{
    ViewBag.Title = "Contact Us";
}

<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#034f84;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    Contact Us
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#034f84"></i> Address:</h3>
                <p style="margin-top:6%;line-height:35%">North London, England</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#034f84"></i> E-Mail Address:</h3>
                <p style="margin-top:6%;line-height:35%">aligorur1994@hotmail.co.uk</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#034f84"></i> Phone Number:</h3>
                <p style="margin-top:6%;line-height:35%">07432410143</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#034f84"></i> Help Center:</h3>
                <p style="margin-top:6%;line-height:35%"><a target="_blank" href="http://www.aligorur.co.uk">http://www.aligorur.co.uk</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJVXh5MowedkgRbXXTXrnVwzM&key=AIzaSyDXRl0WgDPduq44VUqwhcA5ELC5u_kWAuE " width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

